django
djangorestframework
djangorestframework-simplejwt
django-cors-headers
python-dotenv
psycopg2-binary
qrcode[pil]
pydantic[dotenv]
jinja2
playwright
django-filter
gunicorn
whitenoise
numpy<1.28
imutils
opencv-python-headless
